DJANGO_SETTINGS_MODULE=config.settings.docker


SECRET_KEY=django-insecure-change-me

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=postgres
DB_PORT=5432

REDIS_URL=redis://redis:6379/0


STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_SUCCESS_URL=http://localhost:8000/billing/success
STRIPE_CANCEL_URL=http://localhost:8000/billing/cancel

STRIPE_BILLING_PORTAL_RETURN_URL=http://localhost:3000/settings/billing
